<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Wirehome.Cloud</title>

    <link rel="stylesheet" type="text/css" href="~/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/style.css">

    <script type="text/javascript" src="~/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/semantic-ui/semantic.min.js"></script>
</head>
<body>

@RenderBody()

</body>
</html>