<span class="status-icon pull-left glyphicon glyphicon-ok-sign" ng-class="component.status['button.state']==='pressed' ? 'status-icon-ok' : 'status-icon-default'"></span>

<div class="btn-group pull-right">
    <a href="#" class="btn btn-default action-button" ng-click="ctrl.componentService.pressButton(component, 'short')">
        <span>{{ctrl.localizationService.get('UI.ButtonPress')}}</span>
    </a>
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="ctrl.componentService.pressButton(component, 'short')">{{ctrl.localizationService.get('UI.ButtonPressShort')}}</a></li>
            <li><a href="#" ng-click="ctrl.componentService.pressButton(component, 'long')">{{ctrl.localizationService.get('UI.ButtonPressLong')}}</a></li>
        </ul>
    </div>
</div>