<div id="{{componentGroup.uid}}" class="row panel" ng-class="ctrl.activePanel===componentGroup.uid ? 'panel-active' : 'panel-default'"
    ng-repeat="componentGroup in ctrl.componentGroups | orderBy:['sortValue']">
    <div class="panel-heading pointer clearfix" ng-click="ctrl.setActivePanel(componentGroup.uid)">
        <span class="panel-title pull-left">{{componentGroup.caption}}</span>
    </div>

    <ul class="list-group" ng-show="ctrl.activePanel===componentGroup.uid">
        <li class="list-group-item" ng-repeat="component in componentGroup.components | orderBy:['sortValue']">
            <span><img class="icon" ng-src="Content/Images/{{component.image}}.png" /></span>
            <span>{{component.caption}}</span>

            <div class="container-fluid" style="padding: 0; padding-top: 5px;" ng-include="component.template"></div>
        </li>
    </ul>
</div>