<div class="btn-group pull-right" role="group">
    <a href="#" class="btn btn-default" ng-click="ctrl.componentService.decreaseLevel(component)">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </a>
    
    <a href="#" class="btn btn-default" ng-repeat="i in getNumbers(component.configuration['level.max'])" ng-class="component.status['level.current']===0 && i===0 ? 'btn-success' : component.status['level.current']===i ? 'btn-danger' : 'btn-default'" ng-click="ctrl.componentService.setLevel(component, i)">
        <span>{{i}}</span>
    </a>
    
    <a href="#" class="btn btn-default" ng-click="ctrl.componentService.increaseLevel(component)">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </a>

    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="ctrl.componentService.disable(component)">{{ctrl.localizationService.get('UI.DisableComponent')}}</a></li>
            <li><a href="#" ng-click="ctrl.componentService.enable(component)">{{ctrl.localizationService.get('UI.EnableComponent')}}</a></li>
        </ul>
    </div>
</div>