<div class="row panel" ng-class="ctrl.activePanel==='sensorsOverview' ? 'panel-primary' : 'panel-default'" id="sensorsOverview">
    <div class="panel-heading pointer clearfix" ng-click="ctrl.setActivePanel('sensorsOverview')">
        <span class="glyphicon glyphicon-th-list">  </span>
        <span class="panel-title">{{ctrl.localizationService.get('UI.Sensors')}}</span>
    </div>

    <ul class="list-group" ng-show="ctrl.activePanel=='sensorsOverview'">
        <li class="list-group-item" ng-repeat="component in ctrl.sensors | orderBy:['OverviewCaption']">
            <span><img class="icon" ng-src="Images/{{component.Image}}.png" /></span>
            <span>{{component.OverviewCaption}}</span>

            <div class="container-fluid" style="padding: 0; padding-top: 5px;" ng-include="component.template"></div>
        </li>
    </ul>
</div>