<div class="btn-group pull-right" role="group">
    <a href="#" class="btn action-button" ng-class="component.settings['is_enabled']===false ? 'disabled' : component.status['power.state']==='on' ? 'btn-danger' : 'btn-default'"
        ng-click="ctrl.componentService.togglePowerState(component)">
        <span>{{ ctrl.localizationService.get(component.status['power.state']==='on' ? 'UI.On' : 'UI.Off') }}</span>
    </a>

    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="ctrl.componentService.disable(component)">{{ctrl.localizationService.get('UI.DisableComponent')}}</a></li>
            <li><a href="#" ng-click="ctrl.componentService.enable(component)">{{ctrl.localizationService.get('UI.EnableComponent')}}</a></li>
        </ul>
    </div>

</div>

<div>
    <span>{{component.status["power.consumption"]}} W</span>
</div>