<div id="{{componentGroup.uid}}" class="row panel" ng-class="ctrl.activePanel===componentGroup.uid ? 'panel-active' : 'panel-default'"
    ng-repeat="componentGroup in ctrl.componentGroups | orderBy:['sortValue']">
    <div class="panel-heading pointer clearfix" ng-click="ctrl.setActivePanel(componentGroup.uid)">
        <span class="component-group-icon pull-right" ng-style="{color: ctrl.activePanel===componentGroup.uid ? 'white' : componentGroup.imageColor}"
            ng-class="componentGroup.imageId"></span>
        <span class="panel-title pull-left">{{componentGroup.caption}}</span>
    </div>

    <ul class="list-group" ng-show="ctrl.activePanel===componentGroup.uid">
        <li class="list-group-item" ng-repeat="component in componentGroup.components | orderBy:['sortValue']">
            <div class="clearfix">
                <span class="component-icon" ng-style="{color: component.imageColor}" ng-class="component.imageId"></span>
                <span class="component-caption">{{component.caption}}</span>
            </div>
            <div class="clearfix" style="padding-top: 10px;" ng-include="component.template"></div>

            <div class="clearfix">

                <span ng-if="component.source.settings['is_enabled']===false" class="component-status-text label label-danger">
                    <span class="fas fa-toggle-off"></span> Disabled
                </span>

                <span ng-if="component.isOutdated" class="component-status-text label label-warning">
                    <span class="fas fa-stopwatch"></span> <span>Outdated</span>
                </span>

                <span ng-if="component.powerConsumption > 0" class="component-status-text label label-warning">
                    <span class="fas fa-bolt"></span> <span>{{component.powerConsumption}} Wh</span>
                </span>

            </div>
        </li>
    </ul>
</div>