@{
    Layout = "~/Views/Layout.cshtml";
}

@model string

<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body > .grid {
        height: 100%;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">

        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="dont icon"></i>
                Your device is not connected. Please try again later.
            </div>
            <a class="ui primary button blue" href="@Model">Try again (@Model)</a>
        </div>
    </div>
</div>