@{
    Layout = "~/Views/Layout.cshtml";
}

@model Wirehome.Cloud.Controllers.Models.ChannelsModel

<style type="text/css">
    body {
        background-color: #DADADA;
    }

        body > .grid {
            height: 100%;
        }

    .column {
        max-width: 450px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        @foreach (var channel in Model.Channels)
        {
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                <label>@channel</label>
            </div>
        </div>
        }

        <button class="ui button">
            Set channel
        </button>
    </div>
</div>

