<div class="row" style="background: whitesmoke; padding-top: 10px; padding-bottom: 10px;">


    <div class="col-xs-3 text-center">
        <span class="fas fa-wifi connection-status-icon" ng-class="ctrl.apiService.apiStatus.isReachable===false ? 'text-danger' : 'text-success'"></span>
    </div>
    <div id="infoIcon" class="col-xs-3 text-center" ng-click="ctrl.showInfoPopover()">
        <span class="text-primary fas fa-info-circle footer-icon"></span>
    </div>

    <div class="col-xs-3 text-center">
        <span class="text-primary fas fa-cog footer-icon"></span>
    </div>

    <div class="col-xs-3 text-center">
        <span class="text-primary version-text">v{{ctrl.version}}</span>
    </div>

</div>

<div class="hide">
    <div id="infoPopoverContent" class="popover">

        <h4>GitHub</h4>
        <a href="https://github.com/chkr1011/Wirehome.Core" target="_blank">Wirehome.Core</a>

        <hr />
        <h4>3rd-party libraries</h4>
        <ul>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Font Awesome</li>
            <li>jQuery</li>
        </ul>

        <span>&#9400; Christian Kratky 2012 - 2019</span>
    </div>
</div>