<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal">&times;</a>
                <h4 id="modal-header">[Title]</h4>
            </div>
            <div class="modal-body">
                <p id="modal-body">[Message]</p>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>