/* Bootstrap overrides */

.panel {
    margin-bottom: 0;
    border: 0;
}

.panel-active {
    background: #0D1940;
}

.panel-heading {
    background-image: none !important;
    color: whitesmoke
}

.btn-default {
    background: #F2F2F2;
    background-image: none !important;
}

.btn-success {
    background: #5CB85C;
    background-image: none !important;
}

.btn-danger {
    background: #D9534F;
    background-image: none !important;
}

.alert {
    background-image: none !important;
    margin: 0 !important;
    border: 0 !important;
}

* {
    border-radius: 0 !important;
}

body {
    background: #0D1940;
    margin: 0;
}

/* Custom styles */

.slider-legend {
    height: 16px;
    width: 100%;
}

.action-button {
    min-width: 60px;
}

.version-text {
    font-size: 10pt;
    margin-right: 5px;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 10px;
}

.iconDefault {
    height: 1.5em;
    width: 1.5em;
}

.ui-content {
    margin-top: 0;
    padding-top: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status-icon {
    font-size: 18px;
    margin-top: 7px;
}

.status-icon-ok {
    color: #5cb85c;
}

.status-icon-warning {
    color: #f0ad4e;
}

.status-icon-danger {
    color: #d9534f;
}

.status-icon-default {
    color: lightgray;
}

.window-status {
    font-size: 12px;
    min-width: 125px;
}

.window-status-icon {
    margin-right: 10px;
}

.loadingTitle {
    color: white;
    font: 300 24px/1 'Open sans condensed', sans-serif;
    left: 0;
    letter-spacing: 4px;
    margin-top: 75px;
    position: absolute;
    text-align: center;
    top: calc(50% - 50px);
    width: 100%;
}

.bottomBarItem {
    font-size: 20px;
}

.loadingMessage {
    color: lightgray;
    font-size: 10pt;
}

.pointer {
    cursor: pointer;
}

.sensor-value {
    font-size: 18px;
    margin-left: 10px;
    float: right
}

.weather-condition-text {
    font-size: 12pt;
    vertical-align: middle;
}

.weather-condition-image {
    width: 4em;
    height: 4em;
}

.loadingAnimation {
    animation: rotate 1s infinite linear;
    border-bottom: 7px solid white;
    border-left: 7px solid white;
    border-radius: 100% !important;
    border-right: 7px solid gray;
    border-top: 7px solid white;
    box-sizing: border-box;
    height: 85px;
    left: calc(50% - 50px);
    position: absolute;
    top: calc(50% - 85px);
    width: 85px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    to {
        transform: rotate(359deg) translate3d(0, 0, 0);
    }
}
