<span class="pull-left label component-status-text-large" ng-class="component.status['button.state']==='pressed' ? 'label-success' : 'label-default'">{{component.status['button.state']==='pressed' ? "Pressed" : "Released"}}</span>

<div class="btn-group pull-right">
    <a href="#" class="btn btn-default action-button" ng-click="ctrl.componentService.pressButton(component, 'short')">
        <span>{{ctrl.localizationService.get('UI.ButtonPress')}}</span>
    </a>
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" ng-click="ctrl.componentService.disable(component)">{{ctrl.localizationService.get('UI.DisableComponent')}}</a></li>
            <li><a href="#" ng-click="ctrl.componentService.enable(component)">{{ctrl.localizationService.get('UI.EnableComponent')}}</a></li>
        </ul>
    </div>
</div>